{% extends "base.html.twig" %}

{% block content %}
    <div class="container py-4">
        <div class="py-3"></div>
        <h3 class="fw-light mb-3">Kontakt aufnehmen</h3>

        <form id="contactForm">

            <!-- Name input -->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">E-Mail-Adresse</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Name">
                <label for="name">Name</label>
            </div>

            <!-- Message input -->
            <div class="form-floating mb-5">
                <textarea class="form-control" placeholder="Nachricht" id="message" style="height: 100px"></textarea>
                <label for="message">Nachricht</label>
            </div>

            <!-- Form submit button -->
            <div class="d-grid">
                <button class="btn btn-primary btn" type="submit">Absenden</button>
            </div>

        </form>

    </div>
{% endblock %}