<p>
    GameReact Core ist ein wichtiger Bestandteil der digitalen Transformation, indem sich Präsentationen zu Verkaufsstrategien und Quartalsplanungen
    sowie Evaluierungen genauso intuitiv an die jeweiligen Gegebenheiten anpassen wie die Mitarbeiter selbst.
</p>
<p class="lead">Anwendungsbeispiele</p>

<ul class="list-group list-group-flush mb-2">
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Unterstützung dynamischer Meetings</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Förderung lösungsorientierter Kommunikation</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>ermöglichen inklusiver Gesprächsführung</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Innovative Produktpräsentationen</li>
</ul>

<div class=" d-flex align-items-center">
    <i class="lni lni-angle-double-right"></i>
    <a href="#" class="btn btn-link">mehr über Unternehmenslösungen erfahren</a>
</div>