<p>
    Steuere dein nächstes Gaming-Abenteuer mit intuitiven Markern und deinen Fingern. GameReact Core ist für nahezu jede Anwendung geeignet, insbesondere dann,
    wenn es um Multiplayer-Gaming geht. Denn im Gegensatz zu herkömmlichen Touchscreens ist GameReact nicht auf zehn gleichzeitige Fingereingaben beschränkt.
    Je nach Gerät kann sogar eine halbe Schulklasse zeitgleich und bequem zusammenarbeiten.
</p>
<p class="lead">Anwendungsbeispiele</p>

<ul class="list-group list-group-flush mb-2">
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Gaming-Steuerung in Spielhallen</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Hingucker auf Partys für den kurzen Zeitvertreib</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Lernspiele in Kindergärten oder Schulen</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Förderung des Teamgeistes</li>
</ul>

<div class=" d-flex align-items-center">
    <i class="lni lni-angle-double-right"></i>
    <a href="#" class="btn btn-link">mehr über Gaming erfahren</a>
</div>