// assets/styles/global.scss

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "../fonts/lineicons/lineicons.css";
@import "~highlight.js/styles/docco.css";

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;
$blue: #005EAA;

// Required
@import "bootstrap/scss/functions";


$input-border-color:                    null;
$input-box-shadow:                      none 0 rgba(#000000, 0);


@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


//
// Custom styles
//

@import "icon-list";
@import "~bootstrap-icons";

.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(255, 255, 255, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: $body-color;
  text-decoration: none;
}

#gr-bg-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/6956-bg-230607.jpg");
}

.form-select, .form-control {
  border: none;
  border-bottom: 1px solid $gray-400;
  border-radius: 0;
}

.form-select:focus, .form-control:focus {
  box-shadow: none;
  border-bottom-color: $blue;
}

.bd-links-nav{font-size:.875rem}
@media (max-width: 991.98px)
{
  .bd-links-nav{
    -moz-column-count:2;column-count:2;-moz-column-gap:1.5rem;column-gap:1.5rem
  }
  .bd-links-nav .bd-links-group{
    -moz-column-break-inside:avoid;break-inside:avoid
  }
  .bd-links-nav .bd-links-span-all{
    -moz-column-span:all;column-span:all
  }
}

.bd-links-group{-moz-column-break-inside:avoid;break-inside:avoid}

.bd-links-link.active {
  font-weight: 600;
}
.bd-links-link:hover, .bd-links-link:focus, .bd-links-link.active {
  color: $body-color;
  background-color: transparentize($primary,.8);
}

.bd-links-link {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.125rem;
  color: $body-color;
  text-decoration: none;
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px!important;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px!important;
}