<p>
    Im Bildungswesen spielt GameReact Core eine enorm wichtige Rolle bei der digitalen Transformation.
    Vorträge, Präsentationen und wissenschaftliche Experimente gehören an Schulen und Universitäten zum Alltag.
    GameReact Core hilft den Lernenden und Lehrkräften dabei, diese auf intuitive und innovative Weise umzusetzen.
</p>
<p class="lead">Anwendungsbeispiele</p>

<ul class="list-group list-group-flush mb-2">
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Messen und steuern elektronischer Schaltungen</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Aufbau digitaler Schaltungen</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Mediale Unterstützung im Musikunterricht</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Analyse von lyrischen Werken</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Präsentationen von Kunstwerken</li>
    <li class="list-group-item d-flex align-items-center"><i class="lni lni-chevron-right me-2"></i>Aufbereiten von Informationen in Konferenzen</li>
</ul>

<div class="d-flex align-items-center">
    <i class="lni lni-angle-double-right"></i>
    <a href="#" class="btn btn-link">mehr über Bildungsanwendungen erfahren</a>
</div>